* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


body{
    background: rgb(217, 219, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h4{

    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.grid-container {
    position:relative;
    color: #504e4e;
    width: 100%;
    max-width: 700px;
    min-height: 100px;
    background: #fff;
    margin: 60px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1); 
}


.grid-container .about h1{
    font-size: 2rem;
    font-weight: 900;
    margin-top: 5px;
    color:#DC143C;
}

.about{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-bottom: 20px solid rgba(8, 2, 2, 0.2);
}
.about .imgBX{
    position: relative;
    width: 200px;
    height: 200px;
    border: solid 5px #696969;;
    border-radius: 50%;
    overflow: hidden;
}

.about .imgBX img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-media{
    grid-area: social-media;
    position: relative;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;;
    border-bottom: 20px solid rgba(8, 2, 2, 0.2);
}

.social-media ul{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.social-media ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
   line-height: 2em;
    color: #333 ;
    font-weight:500;
    margin: 10px 0;
}

.social-media ul a{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    line-height: 2em;
    color: #333 ;
    font-weight:500;
    margin: 10px 0;
}

.social-media ul li .fa{
    color: #696969;
    font-size: 20px;
    width: 15px;
}

.social-media ul li a:hover{
    line-height: 2em;
    color: rgb(96, 165, 243) ;
    font-weight:600;
    margin: 11px 0;
}

.social-media ul li .fa:hover{
    color: rgb(96, 165, 243);
    font-size: 20px;
    width: 15px;
}


.favorite{

    justify-content: space-between;
    margin: 3em 0;
    padding: 1em;

}


.movie {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;;
    margin-bottom: 20px;
}
.movie img{
    align-items: flex-start;
    margin-right: 1em;
    width: 90%;

}

.movie-detailes p{
    text-align: justify;
    font-size: 1.2em;

}

.movie-detailes h4 {
    text-align: center;
    margin-bottom: 1em;
    color: var(--gray);
}



.favorite h3{
    font-weight: 1000;
    padding-bottom: 10px;
    text-align: center;
    margin: 1em;
    color: var(--gray);
}

.about a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: initial;
    padding: 20px;
    display: inline-block;
    background: #DC143C;
    
    border-radius: 15px;

}

.about a:hover{
    text-decoration: none;
    color: rgb(252, 245, 245);
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 20px;
    display: inline-block;
    background: #e20430;
    
    border-radius: 15px;

}

